.logo {
  margin-top: 2rem !important;
  display: flex;
  justify-content: center;
  height: 40vh;
  width: auto;
}

.logo img {
  height: 100%;
  width: auto;
}

.text {
  margin-top: 1rem !important;
}

.text h5 {
  text-align: center;
}
