.reverse {
  flex-direction: row-reverse;
}

.crest {
  display: flex;
  flex-direction: column;
  text-align: center;
  div {
    height: 50px;
    img {
      height: 100%;
    }
  }
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.player-reverse {
  align-items: flex-end;
}

.dots {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.dots-reverse {
  justify-content: flex-end;
}

.dot {
  display: block;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin: 3px;
  border: 2px solid #3f51b5;
}

.won {
  background: {
    color: #3f51b5;
  }
}

.lost {
  background: {
    color: transparent;
  }
}
